body{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.form{
    width: 80%;
    border: 1px solid black;
    display: flex;
    flex-direction: column;
}

.input{
    width: 30%;
    height: 32px;
}

.textarea{
    width: 50%;
    height: 80px;
}